In [ ]:
import statistics
import pandas as pd
import numpy as np
from scipy import stats

In [ ]:
# tia
beras=11400 
minyak = 12700 
ayam= 3400  
telur= 21800
popok = 27000
sabun_cuci = 1800 
buah_anggur= 3800
roti_tawar=8500
tisu= 6400 
mie_instan= 2200 

print("belanjaan tia")
beras_tia= 4
ayam_tia = 20
telur_tia =3
sabun_tia =5
anggur_tia =4
roti_tia =2
mie_tia =12
jb_tia =(beras_tia * beras) + (ayam_tia * ayam) + (telur_tia * telur) + (sabun_tia * sabun_cuci) +(anggur_tia * buah_anggur) + (roti_tia * roti_tawar) + (mie_tia * mie_instan)
print("maka jumlah hana" +str(jb_tia) +"rupiah")

# hana

minyak = 12700 
ayam= 3400  
telur= 21800 
sabun_cuci = 1800 
buah_anggur= 3800
roti_tawar=8500
tisu=6400 
mie_instan=2200 


print("belanjaan hana")
minyak_hana = 2
ayam_hana = 5
telur_hana = 1.5
sabun_hana = 3
anggur_hana = 8
roti_hana =3
tisu_hana = 2 
mie_hana =20
jb_hana =(minyak_hana * minyak) +(ayam_hana *ayam)+(telur_hana * telur) + (sabun_hana * sabun_cuci) + (anggur_hana * buah_anggur) + (roti_hana * roti_tawar) + (tisu_hana * tisu) + (mie_hana * mie_instan )
print("maka jumlah hana" +str(jb_hana) +"rupiah")
# widia
beras=11400 
minyak = 12700 
telur= 21800 
sabun_cuci = 1800 
buah_anggur= 3800
tisu=6400 
mie_instan=2200 


print("==belanjaan widia==")
beras_widia = 1
minyak_widia= 1
telur_widia = 1 
anggur_widia = 5
tisu_widia = 3
mie_widia = 16
jb_widia =(beras_widia * beras) + (minyak_widia * minyak) + (telur_widia *telur) + (anggur_widia *  buah_anggur) + (tisu_widia * tisu) + (mie_widia * mie_instan)
print("maka jumlah widia " + str(jb_widia) +" rupiah")
#samsul
ayam = 3400
telur = 21800
popok = 27000
buah_anggur = 3800
tisu =6400
mie_instan =2200


print("== belanjaan samsul==")
ayam_samsul = 3
telur_samsul = 4
popok_samsul = 2
anggur_samsul = 7
tisu_samsul = 5
mie_samsul = 10
jb_samsul =(ayam_samsul * (ayam * 10)) + (telur_samsul * telur) + (popok_samsul * popok) + ( anggur_samsul * buah_anggur ) +  (tisu_samsul * tisu) + (mie_samsul * mie_instan)
print("maka jumlah samsul " +str(jb_samsul) +" rupiah")






#romi
minyak = 12700
telur= 21800 
popok = 27000
sabun_cuci = 1800 
mie_instan=2200 

print("==belanjaan romi==")
minyak_romi =3
telur_romi= 2
popok_romi = 4
sabun_romi = 8
mie_romi = 8
jb_romi =(minyak_romi * minyak) + (telur_romi * telur)  + (popok_romi  * popok) + (sabun_romi  * sabun_cuci) + (mie_romi * mie_instan)
print("maka jumlah romi" +str(jb_romi) +" rupiah")



# dimas
ayam = 3400
popok = 27000
sabun_cuci = 1800 
buah_anggur = 3800
roti_tawar =8500
mie_instan=2200 

print ("== belanjaan dimas==")

ayam_dimas= 5
popok_dimas =5
sabun_dimas =4
buah_dimas =3
roti_dimas =5
mie_dimas=6
jb_dimas=(ayam_dimas * ( ayam * 10  ))  + (popok_dimas * popok ) + (sabun_dimas * sabun_cuci ) + (roti_dimas * roti_tawar) + (buah_dimas * buah_anggur) + (mie_dimas * mie_instan)
print("maka jumlah dimas " +str(jb_dimas) +" rupiah")

print("===soal 2====")
diskon = 80
jb_diskon_tia =(jb_tia/100) * diskon
print("maka jumlah belanjaan tia setelah mendapatkan diskon adalah" +str(jb_diskon_tia) +"rupiah")

diskon =85
jb_diskon_hana =(jb_hana/100) * diskon
print("maka jumlah belanjaan hana setelah mendapatkan diskon adalah" +str(jb_diskon_hana) +"rupiah")

diskon = 90
jb_diskon_widia =(jb_widia/100) * diskon
print("maka jumlah belanjaan widia setelah mendapatkan diskon adalah" +str(jb_diskon_widia) +"rupiah")

diskon = 75
jb_diskon_samsul =(jb_samsul/100) * diskon
print("maka jumlah belanjaan samsul setelah mendapatkan diskon adalah" +str(jb_diskon_samsul) +"rupiah")

diskon = 80
jb_diskon_romi =(jb_romi/100) * diskon
print("maka jumlah belanjaan romi setelah mendapatkan diskon adalah" +str(jb_diskon_romi) +"rupiah")

diskon = 75
jb_diskon_dimas =(jb_dimas/100) * diskon
print("maka jumlah belanjaan dimas setelah mendapatkan diskon adalah" +str(jb_diskon_dimas) +"rupiah")

print("====soal 3===")
max = [284475]
print("maka jumlah belanjaan dimas setelah mendapatkan diskon adalah  diskon dimas rp." + str(max))

print("===soal 4=====")
terpersen = {"hana" : "rp.173800" }
print("maka yang mendapatkan diskon 10persen" + str(terpersen))

belanjaan tia
maka jumlah hana246600rupiah
belanjaan hana
maka jumlah hana193200.0rupiah
==belanjaan widia==
maka jumlah widia 119300 rupiah
== belanjaan samsul==
maka jumlah samsul 323800 rupiah
==belanjaan romi==
maka jumlah romi221700 rupiah
== belanjaan dimas==
maka jumlah dimas 379300 rupiah
===soal 2====
maka jumlah belanjaan tia setelah mendapatkan diskon adalah197280.0rupiah
maka jumlah belanjaan hana setelah mendapatkan diskon adalah164220.0rupiah
maka jumlah belanjaan widia setelah mendapatkan diskon adalah107370.0rupiah
maka jumlah belanjaan samsul setelah mendapatkan diskon adalah242850.0rupiah
maka jumlah belanjaan romi setelah mendapatkan diskon adalah177360.0rupiah
maka jumlah belanjaan dimas setelah mendapatkan diskon adalah284475.0rupiah
====soal 3===
maka jumlah belanjaan dimas setelah mendapatkan diskon adalah  diskon dimas rp.[284475]
===soal 4=====
maka yang mendapatkan diskon 10persen{'hana': 'rp.173800'}